.member-card{
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    justify-self: center;
    padding-bottom: 10px;
    transition: 0.3s;

}
.info{
    float:right;
    padding-top: 10px;
}
.member-card:hover {
  transform: scale(0.98, 0.98);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.partyicon{
    height: 30px;
    float: left;
    margin: 5px;

}
.card-body{
    display: flex;
    padding: 10px;
}
.text-padding {
    padding-left: 15px;
    margin-bottom: 0px;
}
.member-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 1rem;
}
.headshot{
    margin: 10px;
    height: 30%;
    width: 30%;
    border-radius: 10px;

}
.Democrat *{
    border-radius: 10px 10px 0px 0px;
    background-color: #002761;
    color: white;;
}
.Republican *{
    border-radius: 10px 10px 0px 0px;
    background-color: #AD0000;
    color: ghostwhite;
}
.Independent *{
    border-radius: 10px 10px 0px 0px;
    background-color:#4D0149;
    color: white;
}
