#cover_section {
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background-size: 100vw auto;
    background-image: url('cover.png');
}
body{
    overflow-x: hidden;
}
#info_section {
    width: 100vw;
    padding: 50px;
    background-color: #002761;
    overflow:auto; 
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 9;
}

#info_section .left {
    width: 40%;
    float: left;
    height: 100%;
    vertical-align: middle;
}

#info_section .right {
    width: 60%;
    float: right;
    height: 100%;
}

#info_section .left h5 {
    color: white;
    margin-top: 2vh;
    text-align: center;
}

#info_section .left img {
    display: block;
    margin: auto;
    width: 60%;
}

#info_section .left:hover img {
    transition: 0.9s;
    transform: rotateY(180deg);
}

#info_section .right h1 {
    color: white;
    font-size: 50px;
    font-style: italic;
}

#info_section .right p {
    color: white;
    font-size: 25px;
    width: 90%;
}

#map_section {
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background-color: #FFFFFF;
}
#result_section {
    width: 100vw;
    height: auto;
    padding: 50px;
    background-color: #EFEFEF;
}
#logo {
    margin: 200px 0 -50px 0;
}

.blueButton {
    border: none;
    height: 50px;
    width: 20%;
    margin-top: 15px;
    margin-right: 25px;
    background-color: #002761;
}
Button:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
.redButton {
    border: none;
    height: 50px;
    width: 20%;
    margin-top: 15px;
    margin-right: 25px;
    background-color: #AD0000;
}
#result_image {
    width: auto;
    margin: 0 auto;
    display: block;
}